@tailwind base;
@tailwind components;
@tailwind utilities;

/* Style */

/* .dark
--background: 0 0% 0%; 
--ring: 346.8 77.2% 49.8%; */

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0, 0%, 92%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
    --radius: 0.5rem;

    /* cmdk */
    --font-sans: 'Inter', --apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
      Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
      sans-serif;
    --app-bg: var(--gray1);
    --cmdk-shadow: 0 16px 70px rgb(0 0 0 / 20%);

    --lowContrast: #ffffff;
    --highContrast: #000000;

    --gray1: hsl(0, 0%, 99%);
    --gray2: hsl(0, 0%, 97.3%);
    --gray3: hsl(0, 0%, 95.1%);
    --gray4: hsl(0, 0%, 93%);
    --gray5: hsl(0, 0%, 90.9%);
    --gray6: hsl(0, 0%, 88.7%);
    --gray7: hsl(0, 0%, 85.8%);
    --gray8: hsl(0, 0%, 78%);
    --gray9: hsl(0, 0%, 56.1%);
    --gray10: hsl(0, 0%, 52.3%);
    --gray11: hsl(0, 0%, 43.5%);
    --gray12: hsl(0, 0%, 9%);

    --grayA1: hsla(0, 0%, 0%, 0.012);
    --grayA2: hsla(0, 0%, 0%, 0.027);
    --grayA3: hsla(0, 0%, 0%, 0.047);
    --grayA4: hsla(0, 0%, 0%, 0.071);
    --grayA5: hsla(0, 0%, 0%, 0.09);
    --grayA6: hsla(0, 0%, 0%, 0.114);
    --grayA7: hsla(0, 0%, 0%, 0.141);
    --grayA8: hsla(0, 0%, 0%, 0.22);
    --grayA9: hsla(0, 0%, 0%, 0.439);
    --grayA10: hsla(0, 0%, 0%, 0.478);
    --grayA11: hsla(0, 0%, 0%, 0.565);
    --grayA12: hsla(0, 0%, 0%, 0.91);

    --blue1: hsl(206, 100%, 99.2%);
    --blue2: hsl(210, 100%, 98%);
    --blue3: hsl(209, 100%, 96.5%);
    --blue4: hsl(210, 98.8%, 94%);
    --blue5: hsl(209, 95%, 90.1%);
    --blue6: hsl(209, 81.2%, 84.5%);
    --blue7: hsl(208, 77.5%, 76.9%);
    --blue8: hsl(206, 81.9%, 65.3%);
    --blue9: hsl(206, 100%, 50%);
    --blue10: hsl(208, 100%, 47.3%);
    --blue11: hsl(211, 100%, 43.2%);
    --blue12: hsl(211, 100%, 15%);
  }

  .dark {
    --background: 0 0% 0%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0, 0%, 18%;
    --input: 240 3.7% 15.9%;
    --ring: 346.8 77.2% 49.8%;

    /* cmdk */
    --app-bg: var(--gray1);

    --lowContrast: #000000;
    --highContrast: #ffffff;

    --gray1: hsl(0, 0%, 8.5%);
    --gray2: hsl(0, 0%, 11%);
    --gray3: hsl(0, 0%, 13.6%);
    --gray4: hsl(0, 0%, 15.8%);
    --gray5: hsl(0, 0%, 17.9%);
    --gray6: hsl(0, 0%, 20.5%);
    --gray7: hsl(0, 0%, 24.3%);
    --gray8: hsl(0, 0%, 31.2%);
    --gray9: hsl(0, 0%, 43.9%);
    --gray10: hsl(0, 0%, 49.4%);
    --gray11: hsl(0, 0%, 62.8%);
    --gray12: hsl(0, 0%, 93%);

    --grayA1: hsla(0, 0%, 100%, 0);
    --grayA2: hsla(0, 0%, 100%, 0.026);
    --grayA3: hsla(0, 0%, 100%, 0.056);
    --grayA4: hsla(0, 0%, 100%, 0.077);
    --grayA5: hsla(0, 0%, 100%, 0.103);
    --grayA6: hsla(0, 0%, 100%, 0.129);
    --grayA7: hsla(0, 0%, 100%, 0.172);
    --grayA8: hsla(0, 0%, 100%, 0.249);
    --grayA9: hsla(0, 0%, 100%, 0.386);
    --grayA10: hsla(0, 0%, 100%, 0.446);
    --grayA11: hsla(0, 0%, 100%, 0.592);
    --grayA12: hsla(0, 0%, 100%, 0.923);

    --blue1: hsl(212, 35%, 9.2%);
    --blue2: hsl(216, 50%, 11.8%);
    --blue3: hsl(214, 59.4%, 15.3%);
    --blue4: hsl(214, 65.8%, 17.9%);
    --blue5: hsl(213, 71.2%, 20.2%);
    --blue6: hsl(212, 77.4%, 23.1%);
    --blue7: hsl(211, 85.1%, 27.4%);
    --blue8: hsl(211, 89.7%, 34.1%);
    --blue9: hsl(206, 100%, 50%);
    --blue10: hsl(209, 100%, 60.6%);
    --blue11: hsl(210, 100%, 66.1%);
    --blue12: hsl(206, 98%, 95.8%);
  }
}

/* CMDK CSS */
.vercel {
  [cmdk-root] {
    width: 100%;
    background: #ffffff;
    border-radius: 12px;
    overflow: hidden;
    font-family: var(--font-sans);
    border: 1px solid var(--gray6);
    transition: transform 100ms ease;
    outline: none;
    .dark & {
      background: rgb(0, 0, 0);
    }
  }

  [cmdk-input] {
    font-family: var(--font-sans);
    border: none;
    width: 100%;
    font-size: 17px;
    padding: 8px 16px 8px 16px;
    outline: none;
    background: var(--bg);
    color: var(--gray12);
    border-bottom: 1px solid var(--gray6);
    border-radius: 0;

    &::placeholder {
      color: var(--gray9);
    }
  }

  [cmdk-vercel-badge] {
    height: 20px;
    background: var(--grayA3);
    display: inline-flex;
    align-items: center;
    padding: 0 8px;
    border: 1px solid var(--gray6);
    font-size: 12px;
    color: var(--grayA11);
    border-radius: 4px;
    margin: 4px 0 4px 4px;
    user-select: none;
    text-transform: capitalize;
    font-weight: 500;
  }

  [cmdk-item] {
    content-visibility: auto;

    cursor: pointer;
    height: 48px;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 0 16px;
    color: var(--gray12);
    user-select: none;
    will-change: background, color;
    transition: all 150ms ease;
    transition-property: none;
    position: relative;

    &[data-selected='true'] {
      background: hsl(var(--nextui-default) / 0.4);

      svg {
        color: var(--gray12);
      }

      &:after {
        content: '';
        position: absolute;
        left: 0;
        z-index: 123;
        width: 3px;
        height: 100%;
        background: hsl(var(--ring));
      }
    }

    &[data-disabled='true'] {
      color: var(--gray8);
      cursor: not-allowed;
    }

    &:active {
      transition-property: background;
      background: var(--gray4);
    }

    & + [cmdk-item] {
      margin-top: 4px;
    }

    svg {
      width: 16px;
      height: 16px;
      color: var(--gray10);
    }
  }

  [cmdk-list] {
    height: 45dvh;
    overflow: auto;
    padding: 4px;
    overscroll-behavior: contain;
    transition: 100ms ease;
    transition-property: height;
  }

  [cmdk-vercel-shortcuts] {
    display: flex;
    margin-left: auto;
    gap: 8px;

    kbd {
      font-family: var(--font-sans);
      font-size: 12px;
      min-width: 20px;
      padding: 4px;
      height: 20px;
      border: 1px solid var(--gray6);
      border-radius: 4px;
      color: var(--gray11);
      background: hsl(var(--background));
      display: inline-flex;
      align-items: center;
      justify-content: center;
      text-transform: uppercase;
    }
  }

  [cmdk-separator] {
    height: 1px;
    width: 100%;
    background: var(--gray5);
    margin: 4px 0;
  }

  *:not([hidden]) + [cmdk-group] {
    margin-top: 8px;
  }

  [cmdk-group-heading] {
    user-select: none;
    font-size: 12px;
    color: var(--gray11);
    padding: 0 8px;
    display: flex;
    align-items: center;
    margin-bottom: 8px;
  }

  [cmdk-empty] {
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    white-space: pre-wrap;
    color: var(--gray11);
  }
}

/* Our CSS */
.LinkText {
  @apply text-[#666] hover:text-black dark:text-[#888] dark:hover:text-white;
}
.FolderCardLayout {
  @apply grid grid-cols-2 gap-3 sm:grid-cols-3 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5;
}
.FolderCard {
  @apply w-full items-center border border-border bg-transparent p-4 shadow-none lg:p-8;
}
.FolderImageCard {
  @apply w-full items-center border border-border bg-transparent shadow-none sm:p-6;
}
/* vaul shouldScaleBackground */
.element {
  background: none !important;
}

.data-\[focus-visible\=true\]\:outline-focus[data-focus-visible='true'] {
  outline-color: hsl(var(--ring)) !important;
}

:focus-visible\:\!ring-ring:focus-visible {
  outline-color: hsl(var(--ring)) !important;
}

a:focus-visible {
  outline-color: hsl(var(--ring)) !important;
}
.GoToFile {
  @apply max-w-36 rounded-md border border-border focus-within:ring-2 focus-within:ring-ring focus-within:ring-offset-2 dark:focus-within:ring-offset-black sm:max-w-full;
}

* {
  -webkit-tap-highlight-color: transparent;
  min-width: 0;
  scroll-margin-top: 56px;
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}
html {
  scroll-behavior: auto;
}
.notruncate {
  white-space: normal !important;
  overflow: visible !important;
  text-overflow: clip !important;
}
.rt-TabsTrigger:where(:focus-visible) :where(.rt-TabsTriggerInner) {
  outline: 2px solid hsl(var(--ring)) !important;
}
.rt-TabsTrigger:where([data-state='active'])::before {
  background-color: hsl(var(--ring)) !important;
}
.rt-TabsContent:where(:focus-visible) {
  outline: 2px solid hsl(var(--ring)) !important;
}

code {
  counter-reset: line;
}

code > [data-line]::before {
  counter-increment: line;
  content: counter(line);

  /* Other styling */
  display: inline-block;
  width: 1rem;
  margin-right: 2rem;
  text-align: right;
  color: gray;
}

code[data-line-numbers-max-digits='2'] > [data-line]::before {
  width: 2rem;
}

code[data-line-numbers-max-digits='3'] > [data-line]::before {
  width: 3rem;
}
code[data-theme*=' '],
code[data-theme*=' '] span {
  @apply bg-[var(--shiki-light-bg)] text-[var(--shiki-light)] dark:bg-[var(--shiki-dark-bg)] dark:text-[var(--shiki-dark)];
}

.heading a {
  text-decoration: none;
}

.header-anchor .anchor {
  visibility: hidden;
}

.header-anchor:hover .anchor {
  visibility: visible;
  padding-left: 5px;
}
figcaption {
  font-size: 1.1em;
  font-weight: normal;
  margin-bottom: 8px;
}
table {
  @apply my-6 w-full border-collapse;
}

thead {
  @apply bg-default/10 dark:bg-default/50;
}

th {
  @apply border border-border px-4 py-2 text-[16px] font-semibold;
}

tbody tr:nth-child(odd) {
  @apply bg-background;
}

tbody tr:nth-child(even) {
  @apply bg-default/10 dark:bg-default/30;
}

td {
  @apply border border-border px-4 py-2 text-center text-[16px];
}

.rt-ScrollAreaThumb {
  background-color: hsl(var(--ring)) !important;
}

.rt-AvatarRoot:where(.rt-variant-soft) :where(.rt-AvatarFallback) {
  @apply !bg-default/70 !text-[hsl(var(--ring))] dark:!bg-default/70;
}

@layer utilities {
  /* Hiding the arrows in the input number */
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
