@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 346.8 77.2% 49.8%;
    --primary-foreground: 355.7 100% 97.3%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 346.8 77.2% 49.8%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 0%;
    --foreground: 0 0% 95%;
    --card: 24 9.8% 10%;
    --card-foreground: 0 0% 95%;
    --popover: 0 0% 9%;
    --popover-foreground: 0 0% 95%;
    --primary: 346.8 77.2% 49.8%;
    --primary-foreground: 355.7 100% 97.3%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 15%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 346.8 77.2% 49.8%;
  }
}


/* Our CSS */
.NavBar{
  @apply w-full fixed bottom-0 sm:sticky sm:top-0 justify-center items-center bg-opacity-70 dark:bg-opacity-70 backdrop-blur-md border-t md:border-t-0 md:border-b border-border  select-none p-2 z-40;
}
.LinkText {
  @apply text-[#666] dark:text-[#888] hover:text-black dark:hover:text-white;
}
.FolderCardLayout{
  @apply grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 gap-2 md:gap-3;
}
.FolderCard {
  @apply  w-full border border-border bg-transparent items-center p-4 lg:p-10;
}
/* vaul shouldScaleBackground */
.element {
  background: none !important;
}

.data-\[focus-visible\=true\]\:outline-focus[data-focus-visible=true] {
  outline-color: hsl(var(--ring)) !important;
}

:focus-visible\:\!ring-ring:focus-visible {
  outline-color: hsl(var(--ring)) !important;
}

a:focus-visible{
  outline-color: hsl(var(--ring)) !important;
}
::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.notruncate {
  white-space: normal !important;
  overflow: visible !important;
  text-overflow: clip !important;
}